pytz
pyjwt
fastapi
uvicorn
pydantic
sqlalchemy
firebase_admin
pydantic[email]
psycopg2-binary
pydantic-settings
python-multipart
google-generativeai
apscheduler
tenacity
matplotlib
python-dotenv
fpdf
passlib[bcrypt]==1.7.4
bcrypt==3.2.2